rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow public read access to spaces
    match /spaces/{spaceId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && (resource.data.createdBy == request.auth.uid || request.auth.token.admin == true);
    }

    match /users/{userId} {
      // Admins can read any user document
      allow read: if request.auth != null && (request.auth.uid == userId || request.auth.token.admin == true);
      // Only the user can update or delete their own document
      allow update, delete: if request.auth != null && request.auth.uid == userId;
      // Anyone authenticated can create a user document (on signup)
      allow create: if request.auth != null;
    }
    
    // Allow listing users only for admins
    match /users/{userId} {
       allow list: if request.auth != null && request.auth.token.admin == true;
    }


    match /favorites/{favoriteId} {
        allow read, create, delete: if request.auth != null;
    }
  }
}
